
body
  background: #fff
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  .page
    min-height: 900px
    padding-left: 15px
    padding-right: 15px

$broun: #584B4F
$white: #fafafa
$gray: #fafafa


body, *
  box-sizing: border-box
@import "./mixins"
@import "../components/Footer/footer"
@import "../components/Header/header"
@import "../components/Pages/Calendar/calendar"