.home-page
  background: #000
  .bg-picture
    height: 600px
    width: 100%
    .name
      text-align: center
      margin: 0 auto
      color: #ffffff
      font-size: 6em
      padding: 20%

  .page-wrapper
    @include wrapper
    .section
      .image-holder
        width: 60%
        display: inline-block
        overflow: hidden

        .image
          background: #000
          height: 600px
          width: 900px
          background-size: cover
      .text
        width: 40%
        display: inline-block